<%= form_for [@song, @lyric]  do |f|%>
<%= f.label :parts %>
   <div><%= f.collection_select :part_id, Part.all, :id, :category, prompt: true %></div> 
    <%= f.label :lyrics %><br>
   <div><%= f.text_area :lyrics%><br></div> 
    <%= f.label :count%><br>
 <div>>%= f.text_:count%><br></div>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :song_id, value: @song.id %>
    <%= f.submit "Done"%>
    <%end%>