 <h2> The lyrics to <%= @song.title %> </h2>
 <%= link_to "Add new lyrics", new_song_lyric_path(@song) %> 

 <% @song.lyrics.each do |lyric| %>
<p><%= @song.title %></p>
<p><%= lyric.count %></p>
<p><%= lyric.part.verse %></p>
<p><%= lyric.part.chorus%></p>
<p><%= lyric.part.bridge %></p>
    <% end %>
    