<h2> Add  new lyrics to the song <i><%=@song.title %></i></h2>

<%= form_for  @lyric do |l|
    <%= f.collection_select :part_id, Part.all, :id, :verse, :chorus, :bridge, prompt:true %>
    <%= l.label :count %>
   <%= l.number_field :count %>
   <%= l.label :genre %>
   <%= l.text_area :genre %>
   <%= l.hidden_field_tag :song_id, value: @song.id %>
<%= f.submit %>
    <% end %>