<h1>Login</h1>
<% if flash[:notice] %>
<h2 style="color:red;"><%= flash[:notice] %></h2>
  <%end%>
  
   <%= form_with url:'/login' do %>
   <%= label_tag :email%>
   <%= text_field_tag :email %>
   <%= label_tag :password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>