<h1>Sign Up</h1>
<%= render partial:'/errors', locals: {record: @user} %> 
<%= form_with model:@user, url: signup_path, local: :true do |f|%>
  <%= f.label :Email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit %>
<%end%>