<h2> Hello Artsist ! The world is your canvas </h2>

<h3>
<%= link_to " All Songs", song_lyrics_path(@songs)%>
<br>
<%= link_to "My Songs", songs_path %>
  <br>
<%= link_to "Create a New Song!", new_song_path %>
<br>
</h3>
<br>

<%= form_tag("/search", :method => "get") do %>
    <%= label_tag(:search, "Search:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("search")%>
    <% end %>

<%= @songs.each do |s| %>
    <%= s.title%>
    <br>
    <%= s.genre %>
    <br>
    <% end %>
