
<%= form_with url:"/search", local: :true  do |form| %>
    <%= form.label "Search for:"%>
    <%= form.text_field :q%>
    <%= form.submit "Search"%>
  <% end %>
  
  <%= button_to "Back", songs_path(@song), method: :get %>



  <% @songs.each do |s| %>
    <h4><a href="/songs/<%=s.id%>"><%=s.title %></a></h4>   
    <p><%= s.lyrics.count %> lyrics</p>
    <% end %>



