<h3><%=@song.title %></h3>
<h3><%=@song.genre %></h3>



    
    
    <p><%= @song.lyrics.count %> lyrics</p>


    <%= button_to "Edit Song!", edit_song_path(@song), method: :get %>

    <%= button_to "Back", songs_path(@song), method: :get %>

    <%= button_to "Delete", @song , method: :delete, data: {confirm: "Are you sure you want to delete #{@song.title}"}%>

    </form>
  