<h3><%=@song.title %></h3>

    <p>Title: <%= @song.title %></p>
    <p> Genre: <%= @song.genre%></p>
    <p><%=@song.lyrics.count%></p>
    <p><%=@lyrics%></p>
    

    <%= button_to "Edit Song!", edit_song_path(@song), method: :get %>

    <%= button_to "Back", songs_path(@song), method: :get %>

    <%= button_to "Delete", @song , method: :delete, data: {confirm: "Are you sure you want to delete #{@song.title}"}%>

    </form>
  