<h3><%=@song.title %></h3>

<% @songs.each do |s| %>
    <h4><a href="/songs/<%=s.id%>"><%=s.title %></a></h4>
    <h3><%= link_to s.title, song_lyrics_path(s) %></h3>
    <p><%= s.lyrics.lyrics %></p>
    <p><%= s.lyrics.count %> lyrics</p>
   <%= format_count(s.count) %>
    <% end %>

    <%= button_to "Edit Song!", edit_song_path(@song), method: :get %>

    <%= button_to "Back", songs_path(@song), method: :get %>

    <%= button_to "Delete", @song , method: :delete, data: {confirm: "Are you sure you want to delete #{@song.title}"}%>

    </form>
  