<!DOCTYPE html>
<html>
  <head>
    <title>SongBuilder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
  <nav>
  Your Logged in !
  <%= link_to "log Out", logout_path, method: :delete%>
  </nav>
  <% else %>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/signup', method: :get%>
<%= button_to('Log in with Github!', '/auth/github') %>
<%end%>
  <navbar>
  <%= render 'layouts/navbar' %>
  </navbar>
  <main class ="wrapper">
    <%= yield %>
    </main>
  </body>
</html>
